.navMenu {
  display: flex;
  margin-right: 50px;
}
.navMenu > a {
  cursor: pointer;
  padding-left: 45px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}
.navMenu > a:first-child {
  padding:0;
}
.navMenu > a:hover {
  color: #ff5005;
}
@media screen and (max-width: 350px) {
  .navMenu > a  {
    padding-left: 11px;
  }
  .navMenu {
    margin: 0;
  }
}


