.slogan {
  mix-height: 200px;
  background-color: #252527;
  display: flex;
  justify-content: center;
  position: relative;
}
.container {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
.container > a {
  cursor: pointer;
}
.btnShow {
  position: relative;
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: white;
  text-decoration: none;
  z-index: 3;
}
.btnShow:after {
  content: "";
  position: absolute;
  width: 110%;
  background: #ff5005;
  height: 10px;
  left: -5%;
  bottom: -10%;
  z-index: -1;
  transition: .3s;
}
.btnShow:hover::after {
  width: 160%;
  height: 110%;
  left: -30%;
}

