.contacts {
  min-height: 700px;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  border: 1px solid;
  align-items: center;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.formArea {
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid #4a4a4a;
  padding: 5px;
  background: #252527;
  outline:none;
  caret-color: #74757a;
  color: #74757a;
}
.messageArea {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #4a4a4a;
  outline: none;
  resize: none;
  background: #252527;
  caret-color: #74757a;
  color: #74757a;
}
.btnSubmit {
  background: transparent;
  color: white;
  height: 50px;
  width: 30%;
  border: none;
  margin: auto;
  outline: none;
  margin: 10px auto 30px auto;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/*меньше 1250px*/
@media screen and (max-width: 1250px ) {
 .formWrapper {
   width: 80%;
 }
}

